<div class="card" style="margin-top: 12px;">
    <div class="card-header">
      <div class="shadow-div-icon">-</div>
      <div class="div-icon"><i class="pi pi-id-card"></i></div>
      <h5><i class="pi pi-user"></i> Diagnostico:</h5>
    </div>
    <div class="card-body p-4">
      <div class="container">
        <form [formGroup]="diagnosticosForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-6">
                <label for="diagnostico" style="display: block;">Diagnostico (CIE10):</label>
                    <p-select id="diagnostico" formControlName="diagnostico" [options]="diagnosticos" optionLabel="label"
                        placeholder="Seleccione..." [filter]="true" filterBy="label" appendTo="body" [ngStyle]="{ width: '100%' }"  />
            </div>

            <div class="col-6">
                <p-button icon="pi pi-plus" class="p-button-rounded p-button-info" (onClick)="addDiagnose()" severity="info"/>
            </div>

        </div>

      </form>

        <div class="row" style="margin-top: 12px;">
          <div class="card">
              <p-table [columns]="cols" [value]="diagnosticosAdd" [tableStyle]="{ 'min-width': '50rem' }">
                  <ng-template #header let-columns>
                      <tr>
                          <th *ngFor="let col of columns">
                              {{ col.header }}
                          </th>
      
                          <th>Acción</th> 
                      </tr>
                  </ng-template>
                  <ng-template #body let-rowData let-columns="columns">
                      <tr>
                          <td *ngFor="let col of columns">
                              {{ rowData[col.field] }}
                          </td>
      
                          <!-- <td>
                              <p-button icon="pi pi-pencil" class="p-button-rounded p-button-info" (onClick)="createHistoriaLaboral(rowData)" severity="info"/>
                          </td> -->
                      </tr>
                  </ng-template>
              </p-table>
          </div>
      </div>
      </div>
    </div>
  </div> 