<div class="row" style="margin-top: 12px;">
    <div class="card">
        <p-card header="Aspirantes">
        <p-table [columns]="cols" [value]="aspirantes" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{ col.header }}
                    </th>

                    <th>Acción</th> 
                </tr>
            </ng-template>
            <ng-template #body let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        {{ rowData[col.field] }}
                    </td>

                    <td>
                        <p-button icon="pi pi-pencil" class="p-button-rounded p-button-info" (onClick)="createHistoriaLaboral(rowData)" severity="info"/>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
    </div>
</div>

<p-dialog [modal]="true" [(visible)]="showForm" [style]="{ width: '90vw', maxWidth: '1500px', height: 'auto' }">
    <form [formGroup]="hcForm" (ngSubmit)="onSubmit()">
        <div class="header_modal">
            <h1>Crear Historia Clinica</h1>
        </div>

        <div class="content_modal">
            <div class="row">
                <div class="col-12">
                    <app-header-info-paciente [patientFound]="patientFound"></app-header-info-paciente>
                </div>
                <div class="col-12">
                    <app-antecedentes  (antecedentesOutPut)="setform('antecedentes', $event)"></app-antecedentes>
                </div>

                <div class="col-12">
                    <app-antecedentes-familiares (antecedentesfamiliaresOutPut)="setform('antecedentesFamiliares', $event)"></app-antecedentes-familiares>
                </div>

                <div class="col-12">
                    <app-antecedentes-ocupacionales
                    (antecedentesOcupacionalesOutPut)="setform('antecedentesOcupacionales', $event)"
                    ></app-antecedentes-ocupacionales>
                </div>

                <div class="col-12">
                    <app-enfermedades-laborales 
                    (enfermedadesLaboralesOutPut)="setform('enfermedadesLaborales', $event)"
                    ></app-enfermedades-laborales>
                </div>

                <div class="col-12">
                    <app-habitos 
                    (habitosOutPut)="setform('habitos', $event)"
                    ></app-habitos>
                </div>

                <div class="col-12">
                    <app-revision-sistemas
                    (revisionSistemaOutPut)="setform('revisionSistemas', $event)"
                    ></app-revision-sistemas>
                </div>

                <div class="col-12">
                    <app-antecedentes-inmunologicos
                    (antecedentesInmunoOutPut)="setform('antecedentesInmuno', $event)"
                    ></app-antecedentes-inmunologicos>
                </div>

                <div class="col-12">
                    <app-examen-fisico
                    (examenFisicoOutput)="setform('examenFisico', $event)"
                    ></app-examen-fisico>
                </div>

                <div class="col-12">
                    <app-anexo-enfasis-osteomuscular
                    (anexoOutput)="setform('anexoOsteoMuscular', $event)"
                    ></app-anexo-enfasis-osteomuscular>
                </div>

                <div class="col-12">
                    <app-anexo-dermatologico
                    (anexoDermatologicoOutput)="setform('anexoDermatologico', $event)"
                    ></app-anexo-dermatologico>
                </div>

                <div class="col-12">
                    <app-anexo-pruebas-vestibulares
                    (anexoOutput)="setform('anexoVestibulares', $event)"
                    ></app-anexo-pruebas-vestibulares>
                </div>

                <div class="col-12">
                    <app-diagnosticos
                    (conceptoOutput)="setform('coneptoOcupacional', $event)"
                    ></app-diagnosticos>
                </div>
                

                <div class="col-12">
                    <app-concepto-ocupacional
                    (conceptoOutput)="setform('coneptoOcupacional', $event)"
                    ></app-concepto-ocupacional>
                </div>

            </div>

            <div class="card" style="margin-top: 12px;">
                <div class="card-header">
                  <div class="shadow-div-icon">-</div>
                  <div class="div-icon"><i class="pi pi-id-card"></i></div>
                  <h5><i class="pi pi-user"></i> Analisis</h5>
                </div>
                <div class="card-body p-4">
                  <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <textarea rows="5" cols="30" pTextarea formControlName="txtAnalisis" id="txtAnalisis" style="width: 100%;"></textarea>
                        </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="card" style="margin-top: 12px;">
                <div class="card-header">
                  <div class="shadow-div-icon">-</div>
                  <div class="div-icon"><i class="pi pi-id-card"></i></div>
                  <h5><i class="pi pi-user"></i> RECOMENDACIONES Y/O RESTRICCIONES MEDICO-OCUPACIONALES:</h5>
                </div>
                <div class="card-body p-4">
                  <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <textarea rows="5" cols="30" pTextarea formControlName="txtRecomendaciones" id="txtRecomendaciones" style="width: 100%;"></textarea>
                        </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card" style="margin-top: 12px;">
                <div class="card-header">
                  <div class="shadow-div-icon">-</div>
                  <div class="div-icon"><i class="pi pi-id-card"></i></div>
                  <h5><i class="pi pi-user"></i> VIGENCIA DE RECOMENDACIONES O RESTRICCIONES MEDICO-OCUPACIONALES:</h5>
                </div>
                <div class="card-body p-4">
                  <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <textarea rows="5" cols="30" pTextarea formControlName="txtVigencias" id="txtVigencias" style="width: 100%;"></textarea>
                        </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card" style="margin-top: 12px;">
                <div class="card-header">
                  <div class="shadow-div-icon">-</div>
                  <div class="div-icon"><i class="pi pi-id-card"></i></div>
                  <h5><i class="pi pi-user"></i> INCLUSIÓN A PROGRAMAS DE VIGILANCIA EPIDEMIOLÓGICA:</h5>
                </div>
                <div class="card-body p-4">
                  <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <textarea rows="5" cols="30" pTextarea formControlName="txtInclusion" id="txtInclusion" style="width: 100%;"></textarea>
                        </div>
                    </div>
                  </div>
                </div>
              </div> 

              <div class="card" style="margin-top: 12px;">
                <div class="card-header">
                  <div class="shadow-div-icon">-</div>
                  <div class="div-icon"><i class="pi pi-id-card"></i></div>
                  <h5><i class="pi pi-user"></i> PROFESIONAL QUE EMITE EL CONCEPTO OCUPACIONAL:</h5>
                </div>
                <div class="card-body p-4">
                  <div class="container">
                    <div class="row">
                        <div class="col-3">
                            <label for="txtNombreProfesional" style="display: block;">NOMBRE:</label>
                            <input type="text" pInputText id="txtNombreProfesional" formControlName="txtNombreProfesional" />
                        </div>

                        <div class="col-2">
                            <label for="txtNumDocumento" style="display: block;">DOCUMENTO:</label>
                            <input type="text" pInputText id="txtNumDocumento" formControlName="txtNumDocumento" />
                        </div>

                        <div class="col-3">
                            <label for="txtRegistroMedico" style="display: block;">REGISTRO MEDICO:</label>
                            <input type="text" pInputText id="txtRegistroMedico" formControlName="txtRegistroMedico" />
                        </div>

                        <div class="col-3">
                            <label for="txtLicencia" style="display: block;">LICENCIA DE SALUD OCUPACIONAL:</label>
                            <input type="text" pInputText id="txtLicencia" formControlName="txtLicencia" />
                        </div>

                        <div class="col-1">
                            <label for="txtFirma" style="display: block;">FIRMA:</label>
                            <input type="text" pInputText id="txtFirma" formControlName="txtFirma" />
                        </div>
                    </div>
                  </div>
                </div>
              </div> 
            
        </div>

        <div style="display: flex; justify-content: end; margin: 12px;">
            <div class="flex justify-content-end gap-2">
                <p-button label="Exportar" icon="pi pi-file-pdf" (onClick)="exportToPDF()"></p-button>
                <p-button label="Guardar" type="submit" severity="info" [disabled]="hcForm.invalid" />
                <p-button label="Cancelar" (onClick)="showDialog(false)" severity="danger" type="button" />
            </div>
        </div>
    </form>
       
</p-dialog>